:root {
  --main-bg-color: #191414;
  --main-green: #1db954;
  --expanded-playlist-width: 40vw;
  --expanded-playlist-height: 70vh;
  --expanded-playlist-border-radius: 10px;
  --info-bg-color: #202020;
}
button,
input[type="submit"],
input[type="reset"] {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}
body {
  background-color: var(--main-bg-color);
  color: var(--main-green);
  font-family: "Proxima Nova", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

img {
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
}

.container {
  text-align: center;
  justify-content: center;
  align-content: center;
}

h1 {
  margin-top: 5%;
  font-size: 400%;

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

section {
  margin-top: 5%;
}

.glow {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  color: white;
  font-weight: bold;
  background-color: var(--main-green);
  text-decoration: none;
  width: fit-content;
  height: fit-content;
  border-color: var(--main-green);
  border-width: 2px;
  border-radius: 5px;

  transition: all 0.1s linear;
}

.glow:hover {
  /* Box shadow adds Glow */
  box-shadow: 0px 0px 10px 5px var(--main-green);
}

.card-grid {
  justify-content: space-around;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(170px, max-content));

  /* size of rows that are created due to a wrap/implicitly */
  grid-auto-rows: minmax(220px, max-content);
  align-self: center;
}

.card {
  visibility: hidden;
  /* Make relative to allow movement from normal position during animations */
  position: relative;
  width: 150px;
  height: 180px;

  background-color: rgb(29, 29, 29);

  border-radius: 5px;
  border-width: 2px;

  margin: 5% 5% 5% 5%;
  padding-top: 5%;
  box-shadow: 0px 0px 15px 4px rgb(14, 14, 14);

  top: -500px;
  left: 0;
  opacity: 0;

  transition: transform 250ms ease-in-out, box-shadow 250ms ease-in-out,
    opacity 250ms ease-in, top 250ms cubic-bezier(0.075, 0.82, 0.165, 1);

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.card > img {
  width: 120px;
  height: 120px;
  box-shadow: 0px 0px 10px 6px rgb(19, 19, 19);
}

.card > h4 {
  color: rgb(212, 212, 212);
  margin-left: 5%;
  margin-right: 5%;
}
.card:hover {
  z-index: 1;
  transform: scale(1.2);
  box-shadow: 0px 0px 15px 8px rgb(14, 14, 14);
}
.appear {
  visibility: visible;
  opacity: 1;
  top: 0;
  /* overwrites previouse classes transitions */
  transition: transform 250ms ease-in-out, box-shadow 250ms ease-in-out,
    opacity 250ms ease-in, top 250ms cubic-bezier(0.075, 0.82, 0.165, 1);
}

.hidden {
  opacity: 0;
  pointer-events: none;
}

.selected {
  background-color: var(--main-green);
}

.loading-spinner {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  width: 150px;
  height: 150px;
}

#info-container {
  display: none;
}

#allow-access-header {
  display: none;
}

#expanded-playlist-container {
  opacity: 0;
  transition: opacity 250ms ease-in;
}

#expanded-playlist-container.appear {
  opacity: 1;

  transition: opacity 250ms ease-in;
}

.expanded-playlist {
  position: relative;
  /* list overflow will be hidden causing a vertical scroll bar */
  overflow-x: hidden;
  background-color: var(--info-bg-color);
  margin-bottom: 5vh;
  color: white;
  width: var(--expanded-playlist-width);
  height: var(--expanded-playlist-height);
  border-radius: var(--expanded-playlist-border-radius);

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.expanded-playlist::-webkit-scrollbar {
  width: 12px;
  /* width of the entire scrollbar */
}

.expanded-playlist::-webkit-scrollbar-track {
  background: rgb(0, 0, 0);
}

.expanded-playlist::-webkit-scrollbar-thumb {
  background-color: rgb(110, 110, 110);
  border-radius: 20px;
  border: 3px solid rgb(206, 206, 206);
}

.sticky-area {
  height: fit-content;
  display: grid;
  grid-row: 1;

  align-content: center;
  justify-content: center;

  top: 0;
  margin: 0 0 0 0;

  position: -webkit-sticky;
  position: sticky;

  z-index: 1;
  background: #303030;
  font-weight: 700;
}

.sticky-area > h2 {
  margin-left: 5%;
  margin-right: 5%;
}

.ellipsis-wrap {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.expanded-playlist > .sticky-area {
  grid-template-columns: minmax(auto, 60%) minmax(auto, 20%) minmax(auto, 25%);
}

.expanded-playlist > ul {
  list-style-type: none;
}

.playlist-order {
  background-color: #1b1b1b;
  color: rgb(216, 216, 216);
  margin-right: 5%;
  margin-top: 30%;
  height: 30%;
}

.playlist-search {
  margin-right: 5%;
  margin-top: 20%;
  height: 30%;
  background-color: #1b1b1b;
  color: rgb(216, 216, 216);
}

.playlist-track {
  margin-top: 2%;
  margin-bottom: 2%;

  display: grid;
  grid-template-columns: minmax(auto, 10%) minmax(auto, 20%) minmax(auto, 20%) minmax(
      auto,
      30%
    );
  grid-row: 1;

  text-align: left;
  color: rgb(212, 212, 212);
}

.playlist-track > img {
  width: 60px;
  height: 60px;
}

.playlist-track > h4 {
  margin-left: 2%;
}

.playlist-track > h5 {
  color: rgb(156, 156, 156);
  margin-left: 80%;
}

#playlist-mods {
  display: grid;
  background-color: #4b4b4b;
  width: var(--expanded-playlist-width);
  border-radius: var(--expanded-playlist-border-radius);
  height: fit-content;

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#playlist-mods > button {
  width: 60px;
  height: 30px;
}

#playlists-section {
  display: grid;
  grid-template-columns: auto fit-content(800px);
  grid-row: 1;
}

#remove-early-added > button {
  height: 100%;
  width: 20%;
}

#tracks-data {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

/* Dropdown Button */
.dropbtn {
  background-color: #04AA6D;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: fit-content;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content button {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Links inside the dropdown */
.dropdown-content button {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content button:hover {
  background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
  background-color: #1d9748;
}

.tracks-info {
  background-color: var(--info-bg-color);
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 30%;

  align-items: center;
  border: 3px solid green;
}