@icon-height: 64px;

.chart-info {
  display: flex;
  flex-direction: column;
  width: 30%;

  & > div {
    border-radius: 70px;
    display: flex;
    background-color: #202020;
    width: 100%;
    min-width: 0;
    min-height: @icon-height;
    height: fit-content;

    margin-top: 5%;
    margin-bottom: 5%;

    & > img {
      margin-left: 5%;
      height: fit-content;
      width: fit-content;
    }
    & > div {
      display: flex;
      align-items: center;
      min-width: 0;
    }
  }
}
