@import "main-colors.less";

@bg-color: #202020;
@icon-height: 64px;

.chart-info {
  color: @reading-color;
  display: flex;
  flex-direction: column;
  width: 30%;

  & > div {
    border-radius: 70px;
    display: flex;
    background-color: @bg-color;
    width: 100%;
    min-width: 0;
    min-height: @icon-height;
    height: fit-content;

    margin-top: 5%;
    margin-bottom: 5%;

    & > img {
      margin-left: 5%;
      height: fit-content;
      width: fit-content;
    }
    & .expandable-text-container {
      flex-basis: 70%;
      display: flex;
      align-items: center;
      min-width: 0;
    }
    & .drop-down {
      width: 30px;
      height: 30px;
    }
  }
}
