/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

#circle {
  margin-top: 20vh;
  margin-bottom: auto;
  width: 200px;
  height: 200px;
  border: 1px solid rgba(221, 221, 221, 0.815);
  border-radius: 50%;
}
