/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

#circle {
  margin-top: 20vh;
  margin-bottom: auto;
  width: 200px;
  height: 200px;
  border: 1px solid rgba(221, 221, 221, 0.815);
  border-radius: 50%;
}

#home-container {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;

  display: -webkit-box;

  display: -ms-flexbox;

  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-pack: distribute;
  justify-content: space-around;
}

#spotify-container {
  margin-top: 30px;
}
