.expanded-playlist {
  flex: 0 1 auto;
  position: relative;
  background-color: #202020;
  color: white;
  min-width: 0;
  width: 100%;
  height: 88vh;
  border-radius: 10px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  opacity: 0;
  transition: opacity 250ms ease-in;

  & > .content {
    display: flex;
    flex-direction: column;
    height: calc(100% - 70px);
    width: 100%;

    & > #tracks-section {
      flex: 0 1 100%;
      min-width: 0;
      min-height: 0;
    }
    & section > ul {
      overflow-y: scroll;
      list-style-type: none;
      width: 100%;
      height: 100%;
      align-items: center;
    }
  }
  & > header {
    height: 70px;
    min-height: fit-content;
    align-items: center;
    top: 0;
    margin: 0 0 0 0;
    z-index: 1;
    background: #303030;
    font-weight: 700;

    & > section {
      display: flex;
      & > h2 {
        flex-grow: 3;
        font-size: 150%;
        margin-left: 5%;
        margin-right: 5%;
      }
    }
  }
  &.appear {
    opacity: 1;
    transition: opacity 250ms ease-in;
  }
}
#playlist-descriptors {
  justify-content: space-around;
  color: #9c9c9c;
}
.playlist-order {
  background-color: #1b1b1b;
  color: #d8d8d8;
  margin-right: 5%;
  height: fit-content;
}
.playlist-search {
  margin-right: 5%;
  height: fit-content;
  background-color: #1b1b1b;
  color: #d8d8d8;
}
.playlist-track {
  display: flex;
  align-items: center;
  margin-top: 2%;
  margin-bottom: 2%;
  margin-left: 2%;
  justify-content: flex-start;
  text-align: left;
  color: #d4d4d4;

  & > img {
    width: 60px;
    height: 60px;
  }
  & > h4 {
    margin-left: 5%;
    width: 20%;
    font-weight: bold;
  }
  & > h5 {
    text-align: center;
    width: 40%;
    min-width: fit-content;
    max-width: 40%;
    color: #9c9c9c;
  }
}
#playlist-mods {
  flex: 0 0 auto;
  display: flex;
  background-color: #292929;
  width: 100%;
  height: 0;
  overflow: hidden;
  min-width: 0;
  min-height: auto;
  border-radius: 10px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  transition: height 200ms ease-in-out;

  &.appear {
    height: 10%;
  }
  & > button {
    width: 60px;
    height: 30px;
  }

  & > input {
    width: 50%;
  }
}
#playlists-section {
  display: flex;

  & > .resize-container {
    flex: 0 0 auto;
    height: 88vh;
    max-width: 70vw;
    min-width: fit-content;
    box-sizing: border-box;
    touch-action: none;
    border-style: double;
    border-right-color: #6d6d6d;
    border-right-width: 10px;
  }
}
#playlist-card-scroll-area {
  overflow-y: scroll;
  height: inherit;
  /* Firefox */
  width: -moz-calc(92%);
  /* WebKit */
  width: -webkit-calc(92%);
  /* Opera */
  width: -o-calc(92%);
  /* Standard */
  width: calc(100% - 8px);
}
#playlist-card-scroll-area-webkit-resizer {
  background-color: red;
}

#remove-early-added {
  overflow: hidden;

  & > button {
    height: 100%;
    width: 20%;
  }

  & > input {
    width: 100%;
  }
}

#mods-opener {
  align-self: center;
  width: 20px;
  height: 20px;
  background-color: #858585;
  background-image: url("../images/expand-vert-arrows.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
