@expanded-playlist-width: 100%;
@expanded-playlist-height: 88vh;
@expanded-playlist-border-radius: 10px;
@header-height: 70px;

.expanded-playlist {
  flex: 0 1 auto;
  position: relative;
  background-color: #202020;
  color: white;

  min-width: 0;
  width: 100%;
  height: 88vh;

  border-radius: 10px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  opacity: 0;
  transition: opacity 250ms ease-in;

  & > section {
    height: calc(100% - @header-height);
    & > ul {
      overflow-y: scroll;
      list-style-type: none;
      width: 100%;
      height: 100%;
      align-items: center;
    }
  }
  & > header {
    height: @header-height;
    min-height: fit-content;

    align-items: center;

    top: 0;
    margin: 0 0 0 0;

    z-index: 1;
    background: #303030;
    font-weight: 700;
    & > section {
      display: flex;
      & > h2 {
        flex-grow: 3;
        font-size: 150%;
        margin-left: 5%;
        margin-right: 5%;
      }
    }
  }
  &.appear {
    opacity: 1;
    transition: opacity 250ms ease-in;
  }
}
#playlist-descriptors {
  justify-content: space-around;
  color: #9c9c9c;
}

.playlist-order {
  background-color: #1b1b1b;
  color: rgb(216, 216, 216);
  margin-right: 5%;
  height: fit-content;
}

.playlist-search {
  margin-right: 5%;
  height: fit-content;
  background-color: #1b1b1b;
  color: rgb(216, 216, 216);
}

.playlist-track {
  display: flex;
  align-items: center;
  margin-top: 2%;
  margin-bottom: 2%;
  margin-left: 2%;
  justify-content: flex-start;
  text-align: left;
  color: #d4d4d4;

  & > img {
    width: 60px;
    height: 60px;
  }
  & > h4 {
    margin-left: 5%;
    width: 20%;
    font-weight: bold;
  }
  & > h5 {
    text-align: center;
    width: 40%;
    min-width: fit-content;
    max-width: 40%;
    color: #9c9c9c;
  }
}

#playlist-mods {
  display: none;
  background-color: #303030;
  width: @expanded-playlist-width;
  border-radius: @expanded-playlist-border-radius;
  height: fit-content;

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#playlist-mods > button {
  width: 60px;
  height: 30px;
}

#playlists-section {
  display: flex;
}

#playlist-card-scroll-area {
  overflow-y: scroll;
  height: inherit;
  /* Firefox */
  width: -moz-calc(100% - 8px);
  /* WebKit */
  width: -webkit-calc(100% - 8px);
  /* Opera */
  width: -o-calc(100% - 8px);
  /* Standard */
  width: calc(100% - 8px);
}

#playlist-card-scroll-area-webkit-resizer {
  background-color: red;
}

#playlists-section > .resize-container {
  flex: 0 0 auto;
  height: @expanded-playlist-height;
  max-width: 70vw;
  min-width: fit-content;
  box-sizing: border-box;
  touch-action: none;

  border-style: double;
  border-right-color: #6d6d6d;
  border-right-width: 10px;
}
