body {
    background-color: #191414;
    color: #1DB954;
    font-family: "Proxima Nova",
    "Helvetica Neue",
    Helvetica,
    Arial,
    sans-serif;
}

.container {
    text-align: center;
    justify-content: center;
    align-content: center;
}

h1 {
    margin-top: 5%;
    font-size: 400%;
}

section {
    margin-top: 5%;
}

#spotify-login {
    color: white;
    font-weight: bold;
    background-color: #1DB954;
    text-decoration: none;
    padding: 10px 10px 10px 10px;

    border-color: #1DB954;
    border-width: 2px;
    border-radius: 5px;
    
    transition: all .1s linear;
}

#spotify-login:hover {
    /* Box shadow adds Glow */
    box-shadow: 0px 0px 10px 5px #1DB954;
}

#playlists {
    justify-content: space-around;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, max-content));
    grid-template-rows: repeat(auto-fit, minmax(100px, max-content));
}